input {
    display: block;
    border: 1px solid #babdbe;
    padding: 3px 6px;
    margin-bottom: 10px;
}



input[type="text"] {
    width: 300px;
}


input[type="submit"]:hover {
    color: #1565C0;
}

.history-page .completed-task {
    color: #9e9e9e;
    text-decoration: line-through;
}


body {
    margin: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}


h1 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}


ul {
    list-style: none;
    padding-left: 0;
   
}


li {
    line-height: 1.5em;
}


#menu {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

#menu li {
    float: left;
    margin-right: 15px;
    color: black;
    transition: color 0.3s;
}

#menu li a {
    color: black;
    text-decoration: none; 
}

#menu li:hover {
    color: #1565c0;
}

#menu .selected {
    color: #1565c0;
    font-weight: bold;
}


ul li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
}

ul li a:hover {
    color: #1565c0;
    text-decoration: line-through;
}




